$boardBGColor: #FFFFFF;

.board {
    width: 100%;
    max-width: 1280px;
    margin-top: 30px;

    &__header {
        font-family: 'Roboto', sans-serif;
        @include flexible;
        margin-bottom: 20px;

        &-title {
            @include font ($size: 24px, $weight: 300);

            &.task-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 10px;
            }
        }

        &-text {
            margin-right: 10px;
        }

        &-btns {
            text-align: end;
        }
    }

    &__filter {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    &__filter-selector {
        font-family: 'Inter', sans-serif;
        @include font ($size: 14px, $weight: false);
        @include flexible;
        align-items: center;
        width: 100%;
        height: 24px;
        margin-right: 12px;
        color: $labelFontColor;
        box-shadow: inset 0 0 2px #B5B5B5;
        @include border-radius(3px);
        padding: 4px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        height: 755px;
        background-color: $boardBGColor;
        padding: 20px;
        @include border-radius(5px);
        box-shadow: 0 0 5px #B5B5B5;
    }

    &__list {
        display: flex;
        flex-direction: column;
        height: 100%;
        margin-bottom: 18px;

        position: relative;
        overflow: hidden;

        @include border-radius(10px);

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            box-shadow: inset 0 0 5px #B5B5B5;

            @include border-radius(10px);
            position: absolute;
            pointer-events: none;
        }
    }

    &__item {
        font-family: 'Roboto', sans-serif;
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 100%;
        max-height: 66px;

        padding: 18px 35px 18px 30px;

        &:last-child .dropdown-content {
            top: -78px;
            right: 0px;
        }

        &:nth-child(2n) {
            background-color: #F2F2F2;


        }
    }
}