#filter {
    
    // &-type {
    //     max-width: 98px;
    // }

    // &-task-name {
    //     max-width: 527px;
    // }

    // &-user {
    //     max-width: 180px;
    // }

    // &-status,
    // &-priority {
    //     max-width: 120px;
    // }
}