@import './components/reset';
@import './components/mixins';
@import './components/colors';
@import './components/buttons';
@import './components/main';
@import './components/board';
@import './components/board-task';
@import './components/board-user';
@import './components/dropdown';
@import './components/filter';
@import './components/inputs';
@import './components/taskCard';
@import '../components/taskStatus/taskStatus';
@import '../components/taskPriority/taskPriority';

#root {
    height: 100%;
}

.active-lnk {
    border-bottom: 2px;
    border-style: solid;
    border-color: $primaryColor;
}

.pagination {
    @include flexible;
    align-items: center;
    flex-direction: row;
    vertical-align: middle;

    &__count {
        color: #B5B5B5;
    }
}